{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}
<body>
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="cssload-loader"></div>
    </div>
</div>
<!--PreLoader Ends-->
{% Header %}
<!--Page Header-->
<!-- Services us -->
<section id="our-services" class="padding bglight" style="padding:2.5rem 0;">
    <div class="container">
        <div class="row whitebox top15">
            <div class="col-lg-3 col-md-3">
                <div class="image widget bottom20" style="padding:40px;">
                    <img alt="Günlük Espri" src="{% static 'images/pp.png' %}" style="border-radius:50%; width:50%;">
                    <ul style="margin:25px 0;">
                        <li style="margin-top:20px;font-size: 20px;color: #3e0f38;">
                            <a href="#"><i class="fa fa-home"></i> Anasayfa</a>
                        </li>
                        <li style="margin-top:20px;font-size: 20px;color: #3e0f38;">
                            <a href="#"><i class="fa fa-search"></i> Keşfet</a>
                        </li>
                        <li style="margin-top:20px;font-size: 20px;color: #3e0f38;">
                            <a href="#"><i class="fa fa-comment"></i> Sohbet</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 px-0">
                    <div class="w-100">
                        <div class="full-map short-map" id="map"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
              {% include 'partials/tweet_list.html' %}
            </div>
        </div>
    </div>
</section>
<!-- Services us ends -->


</body>

{% endblock content %}