{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}
<body>
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="cssload-loader"></div>
    </div>
</div>
<!--PreLoader Ends-->
{% Header %}
<!--Page Header-->
<!-- Services us -->
<section id="our-services" class="padding bglight" style="padding:2.5rem 0;">
    <div class="container">
        <div class="row whitebox top15">
            <div class="col-lg-3 col-md-3">
                <div class="image widget bottom20">
                    <img alt="Günlük Espri" src="{% static 'images/logo.png' %}" style="border-radius:50%; width:50%;"></div>
                <div class="col-12 px-0">
                    <div class="w-100">
                        <div class="full-map short-map" id="map"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
              {% include 'partials/tweet_list.html' %}
            </div>
        </div>
    </div>
</section>
<!-- Services us ends -->


</body>

{% endblock content %}