{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}
<body>
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="cssload-loader"></div>
    </div>
</div>
<!--PreLoader Ends-->
{% Header %}
<!--Page Header-->
<!--Page Header ends -->
<!-- Services us -->
<section id="our-services" class="padding bglight">
    <div class="container">
        <div class="row whitebox top15">
            <div class="col-lg-3 col-md-3">
                <div class="image widget bottom20">
                    <img alt="SEO" src="{% static 'images/logo.png' %}" style="border-radius:50%; width:50%;"></div>
                <div class="col-12 px-0">
                    <div class="w-100">
                        <div class="full-map short-map" id="map"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="widget heading_space text-md-start" style="padding: 15px 18px;margin-bottom: 10px;">
                    <h4 class="darkcolor" style="margin-top:5px;">ozanxg</h4>
                    <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. </p>
                </div>
                <div class="widget heading_space text-md-start" style="padding: 15px 18px;margin-bottom: 10px;">
                    <h4 class="darkcolor" style="margin-top:5px;">ozanxg</h4>
                    <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. </p>
                </div>
                <div class="widget heading_space text-md-start" style="padding: 15px 18px;margin-bottom: 10px;">
                    <h4 class="darkcolor" style="margin-top:5px;">ozanxg</h4>
                    <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. </p>
                </div>
                <div class="widget heading_space text-md-start" style="padding: 15px 18px;margin-bottom: 10px;">
                    <h4 class="darkcolor" style="margin-top:5px;">ozanxg</h4>
                    <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. </p>
                </div>
                <div class="widget heading_space text-md-start" style="padding: 15px 18px;margin-bottom: 10px;">
                    <h4 class="darkcolor" style="margin-top:5px;">ozanxg</h4>
                    <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services us ends -->
{% comment %} {% Footer %} {% endcomment %}


</body>

{% endblock content %}